<div class="section-container">
  <h2>Latest Orders</h2>
  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Placed</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="text-white">{{order.id}}</td>
        <td class="text-white">{{order.customer}}</td>
        <td class="text-white">{{order.total}}</td>
        <td class="text-white">{{order.placed | date: 'mediumDate'}}</td>
        <td class="text-white">{{order.completed | date: 'mediumDate'}}</td>
      </tr>
    </tbody>
  </table> 
  <hr>
  <app-pagination 
    (goPrev)="goToPrevious()"
    (goNext)="goToNext()"
    (goPage)="goToPage($event)"
    [page]="page"
    [perPage]="limit"
    [page]="page"
    [count]="total"
    >
  </app-pagination>
</div>
