<div class="section-container">
  <div class="row">
    <div class="col-md-3">
      <h3>Latest Orders</h3>
    </div>
    <div class="col-md-9 text-right">
      <app-pagination 
      (goPrev)="goToPrevious()"
      (goNext)="goToNext()"
      (goPage)="goPage($event)"
      [page]="page"
      [perPage]="limit"
      [page]="page"
      [count]="total"
      >
    </app-pagination>
    </div>
  </div>
  <table class="table table-hover mt-2">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Amount</th>
        <th>Placed</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td class="text-white">{{order.id}}</td>
        <td class="text-white">{{order.customer}}</td>
        <td class="text-white">{{order.total}}</td>
        <td class="text-white">{{order.placed | date: 'mediumDate'}}</td>
        <td class="text-white">{{order.completed | date: 'mediumDate'}}</td>
      </tr>
    </tbody>
  </table> 
</div>
